name: Build and test package

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  checks: write
  pull-requests: write

jobs:
  build_and_test:
    name: ${{ matrix.os }} / Py${{ matrix.python-version }} / ${{ matrix.pip_params }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.9", "3.13"]
        pip_params: ["[test]", "[qiskit,test]"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build pytest

      - name: Build package from source
        run: python -m build

      - name: Install pyrauli and test dependencies
        run: pip install .${{ matrix.pip_params }}

      - name: Run tests and generate report
        run: pytest --junitxml pytest.xml

      - name: Upload Test Results
        if: (!cancelled())
        uses: actions/upload-artifact@v4
        with:
          name: Test Results for ${{matrix.os}} - Python ${{ matrix.python-version }} ${{ matrix.pip_params }}
          path: pytest.xml

  publish-test-results:
    name: "Publish Tests Results"
    needs: build_and_test
    runs-on: ubuntu-latest
    permissions:
      checks: write
      # only needed unless run with comment_mode: off
      pull-requests: write
    if: (!cancelled())

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "artifacts/**/*.xml"

  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install pyrauli and test dependencies
        run: pip install .[qiskit,test]

      - name: Run tests and generate coverage report
        run: pytest --cov=pyrauli --cov-report xml tests
 
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          format: cobertura
          file: coverage.xml

  benchmark:
    name: Run Pytest benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build pytest pytest-benchmark

      - name: Install pyrauli and test dependencies
        run: pip install .[qiskit,test]

      - name: Run benchmarks and generate report
        run: pytest benchmarks/ --benchmark-json output.json
      
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Pytest benchmarks
          tool: 'pytest'
          output-file-path: output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@zefresk'
