name: Build and Deploy Documentation

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write # Required to push to the gh-pages branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies and pyrauli
        run: |
          python -m pip install --upgrade pip
          pip install -e '.[qiskit]'
          pip install -r docs/requirements.txt

      - name: Build documentation 
        working-directory: docs
        run: make html

      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          keep_files: true
